*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
body {
    font-family: "Poppins", sans-serif;
}
#header{
    width: 100%;
    background-color: lightblue;
    padding: 1%;
}
#navigation{
    width: 90%;
    background-color: lightblue;
    margin: auto;
    display: flex;
    padding: 2px;
}
#div1{
    width: 24%;
    background-color: lightblue;
    padding: 1px;
    display: flex;
}
#div2{
    width: 43%;
    background-color: lightblue;
    padding: 5px;
}
#div3{
    width: 30%;
    background-color: lightblue;
    padding: 1px;
    display: flex;
}
#logo{
    width: 15%;
    background-color: rgb(14, 112, 145);
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#zap_img{
    filter: invert();
}
#devstream{
    width: 85%;
    font-size: 25px;
    background-color: lightblue;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4f46E5;
}

.home_art{
    width: 28%;
    font-size: 20px;
    background-color: lightblue;
    margin: 3px;
    padding: 4px;
    font-weight: bold;
}
#write_story{
    width: 40%;
    background-color: black;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin: 3px;
    padding: 7px;
    font-weight: bold;
}
/* HOME STYLING BEGINS HERE */
#section1{
    width: 100%;
}
#article1{
    width: 90%;
    margin: auto;
    display: flex;
}
#first_div{
    width: 60%;
    background-color: lightgray;
    padding-top: 3%;
}
#second_div{
    width: 40%;
    background-color: darkkhaki;
    padding-top: 3%;
}
#live_edit{
    border: 2px solid gray;
    width: 25%;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#words_matter{
    font-size: 5.5rem;
    line-height: 1;
    padding: 30px 2px
}
#modern_standard{
    font-size: 18px;
    padding: 15px 5px;
    color: gray;
}
#start_reading{
    width: 35%;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #4f46E5;
    font-size: 20px;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
#become_writer{
    width: 35%;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gray;
    color: black;
    font-size: 18px;
    font-weight: 800;
}
#arrow_img{
    width: 30px;
    filter: invert();
}
#matter_span{
    color: #4f46E5;
}
