*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
    text-decoration: none;
    
}
body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden !important;
}
#header{
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur (8px);
    padding: 1%;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}
#navigation{
    width: 90%;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 2px;
    max-height: 30px;
}
#div1{
    width: 24%;
    background-color: white;
    padding: 1px;
    display: flex;
    align-items: center;
}
#div2{
    width: 38%;
    background-color: white;
    padding: 5px;
}
#div3{
    width: 33%;
    background-color: white;
    padding: 1px;
    display: flex;
}
#div4{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#logo{
    width: 15%;
    background-color: rgb(14, 112, 145);
    border-radius: 30%;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#zap_img{
    filter: invert();
}
#devstream{
    width: 85%;
    font-size: 21px;
    background-color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0f766e;
    cursor: pointer;
}

.home_art{
    width: 28%;
    font-size: 15px;
    background-color: white;
    margin-top: 6px;
    padding: 5px 0px;
    font-weight: bold;
    cursor: pointer;
    color: gray;
}
#write_story{
    width: 34%;
    font-size: 11px;
    background-color: black;
    text-align: center;
    color: white;
    border-radius: 5px;
    margin: 3px;
    padding-top: 7px;
    font-weight: bold;
    cursor: pointer;
}
/* HOME STYLING BEGINS HERE */
#section1{
    width: 100%;
}
#article1{
    width: 90%;
    margin: auto;
    display: flex;
    margin-bottom: 7%;
}
#first_div{
    width: 60%;
    background-color: white;
    padding-top: 3%;
}
#second_div{
    width: 40%;
    /* background-color: lightgray; */
    display: flex;
    margin: 1px;
}
#live_edit{
    border: .5px solid gray;
    width: 20%;
    font-weight: 800;
    color: gray;
    border-radius: 20px;
    font-size: 12px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
#words_matter{
    font-size: 5.5rem;
    line-height: 1;
    padding: 30px 2px
}
#modern_standard{
    font-size: 18px;
    padding: 15px 5px;
    color: gray;
    margin-right: 8rem;
}
#start_reading{
    width: 35%;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #0f766e;
    font-size: 20px;
    font-weight: 800;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
#become_writer{
    width: 35%;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
    color: black;
    font-size: 18px;
    font-weight: 800;
}
#arrow_img{
    width: 30px;
    filter: invert();
}
#matter_span{
    color: #0f766e;
}
.miniImage{
    width: 30px;
}
.secon_divInners{
    width: 48%;
    margin: auto;
    background-color: #0f766e;
    padding: 45% 5% 5% 2% ;
    border-radius: 15px;
    margin-top: 7rem;
    /* filter: invert(); */
}
.secon_divInners2{
    width: 48%;
    margin: auto;
    border: 1px solid lightgray;
    /* background-color: rgb(179, 113, 12); */
    padding: 45% 5% 5% 2% ;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(15, 118, 110, 0.4);
    /* filter: invert(); */

}
.invert{
    filter: invert();
}

#star{
    width: 30px;
    filter: invert();
    position: absolute;
     margin-top: 11%;
    margin-left: 15px;
}
#ai_assisted{
    position: absolute;
    margin-top: 15%;
    margin-left: 15px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
#layout{
    width: 30px;
    position: absolute;
    margin-top: 11%;
    margin-left: 15px;
}
#adaptive{
    position: absolute;
    margin-top: 15%;
    margin-left: 15px;
    font-weight: 700;
    font-size: 20px;  
}
.fullwidth_hr{
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    border: none;
    border-top: 1px solid #e5e7eb;
}

/* SECTION TWO BEGINS HERE */
#sec_percentage{
    width: 100%;
}
#sec2_art2{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0px;
    margin-bottom: 20px;
}
.percentage_divs{
    width: 24%;
}
.percentage_header{
    font-size: 40px;
    padding: 10px;
}
.mini_paragraph{
    color: gray;
}
.sec2_hr{
    border: .5px solid lightgray;
}

/* sec2 percentage after section */
#sec2_main2_div{
    width: 90%;
    background-color: white;
}
#first_main{
    width: 100%;
    background-color: white;
    margin: 1px;
    text-align: center;
}
#second_main{
    width: 90%;
    background-color: white;
    margin-left: 15px;
    padding-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#sec2_blackdiv{
    width: 58%;
    background-color: rgb(4, 1, 30);
    color: white;
    padding: 46px 25px;
    margin: 1%;
    border-radius: 15px;
}
#sec2_purple{
    width: 35%;
    background-color: #0f766e;
    margin: 1%;
    border-radius: 15px;
    padding: 10px 30px;
}
#watch_ur_story{
    color: lightgray;
    line-height: 1.5;
}
#real_time{
    padding-bottom: 3%;
    font-size: 30px;
}
#black_innerdiv{
    width: 58%;
}
#black_div2{
    width: 28%;
}
#security{
    width: 40px;
    padding-top: 15px;
    filter: invert();
}
#end_end{
   padding-top: 10px;
   color: white;
}
#secure_default{
    padding-top: 30px;
    color: white;
    font-weight: 800;
}
#everything_happy{
    padding-top: 8%;
}
#built_from{
    padding-top: 2%;
    padding-bottom: 2%;
    color: gray;
}
/* FOOTER BEGAN */
#footer{
    width: 100%;
}
#footer_div{
    width: 90%;
    margin: 20px  auto;
    padding: 5% 0px;
    background-color: #0f766e;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#join_developers{
    padding: 20px 0px;
    font-size: 20px;
    color: white;
}
#input_text{
    width: 60%;
    padding: 3%;
    border: none;
    border-radius: 10px;
    margin: 2px;
    background-color: #6eb1ab;
}
#button_footer{
    padding: 2.5%;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    margin: 2px;
    color: #0f766e;
    font-weight: 800;
    cursor: pointer;
}
#dont_miss{
    color: white;
}

/* ARTICLES STYLING BEGINS HERE */
#article_sec{
    width: 100%;
}
#main_div{
    width: 90%;
    background-color: white;
    margin: auto;
    padding: 3% 1%;

}
#latest_div{
    width: 100%;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
}

#curated_inner{
    width: 50%;
    text-align: center;
    background-color: white;
    padding: 15px;
    margin: auto;
}
#latest_art{
    font-size: 40px;
    font-weight: 800;
}
#curated_stories{
    color: gray;
}
#cards_div{
    width: 100%;
    background-color: white;
    
}
#inner_card_divs{
    width: 75%;
    background-color: white;
    margin: auto;
    padding: 20px 3%;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
#featured{
    width: 90px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: black;
    margin: 30px 0px;
    padding: 3px;
}
#date_jan{
    margin: 30px 0px;
}
.date_div{
    display: flex;
    
}
#date_jan{
    padding: 0px 20px;
    color: gray;
}
#icons_divs{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
#writername_and_initial{
    width: 40%;
    background-color: white;
    display: flex;
}
#delete_andArrow{
    width: 15%;
    background-color: white;
    display: flex;
    
}
#initial{
    font-size: 30px;
    background-color: #0f766e;
    color: whitesmoke;
    padding: 1px 8px;
    border-radius: 10px;
    margin: 0px 10px 0px 0px;
}
#writer_name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
}
#delete_img{
    width: 30px;
    margin-right: 15px;
    cursor: pointer;
}
#arrow_img2{
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
}
#deFuture{
    font-size: 30px;
    font-weight: 600;
    color: black;
    line-height: 2;
}
#artificial_intel{
    padding-bottom: 20px 1px;
    color: gray;
    line-height: 1.5;
}
.icon_images{
    width: 30px;
    cursor: pointer;
    margin: 0px 10px;
    opacity: 0.3;
}
.icon_images:hover{
    background-color: violet;
    border-radius: 5px;
    padding: 3px;
    filter: invert(1);
}
.line_through{
    border: .5px solid lightgray;
    margin: 15px 0px;
}

/* WRITE A STORY SECTION STYLING BEGINS HERE */

.story_section{
    width: 100%;
}
.story_main_div{
    width: 85%;
    background-color: white;
    margin: auto;
    border: 1px solid gray;
    border-radius: 20px;
}
.publish{
    text-align: center;
    padding: 20px 0px;
    
}
#mind_today{
    color: gray;
    margin-top: 15px;
}
.input_areas{
    color: gray;
    padding-left: 20px;
    

}
#headline_input{
    width: 90%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    margin: 20px 0px;
    font-size: 17px;
    font-weight: 700;
    background-color: whitesmoke;
    border: 1px solid gray;
}
#author_name2{
    width: 95%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    margin: 20px 0px;
    font-size: 17px;
    font-weight: 700;
    background-color: whitesmoke;
    border: 1px solid gray;
}
#author_name3{
    width: 95%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    margin: 20px 0px;
    font-size: 17px;
    font-weight: 700;
    background-color: whitesmoke;
    border: 1px solid gray;
}

#text_area{
    width: 97%;
    height: 280px;
    padding: 10px 10px 0px 20px;
    border-radius: 20px;
    margin: 10px auto;
    border: 1px solid rgb(238, 234, 234);
    background-color: whitesmoke;
    outline: none;
    resize: vertical;
    border: 1px solid gray;
}

#text_area:focus{
    border-color: #0f766e;
    box-shadow: 0 0 0 2px rgba(15, 118, 110, 0.2);
}
.story_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}
#publish_button{
    width: 42%;
    padding: 3%;
    border-radius: 15px;
    border: none;
    margin-right: 10px;
    background-color: #0f766e;
    color: white;
    font-size: 17px;
    font-weight: 600;
}
#save_draft{
    width: 42%;
    padding: 3%;
    border-radius: 15px;
    border: none;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid gray;
}
#publish1{
    font-weight: 800;
}

#hamburger{
    width: 30px;
    margin-left: 10px;
    display: none;
    cursor: pointer;
}

/* ARTICLE EXTENSION PAGE */
#backArrow{
    width: 30px;
   
}
#back_arrowdiv{
    display: flex;
}
#back_2_Feed{
    margin-top: 5px;
    margin-left: 10px;
}
#back2_section{
    width: 100%;
    background-color: whitesmoke;
}
#back2_div{
    width: 70%;
    margin: auto;
}
#initilas_div{
    display: flex;
     padding-top: 30px;
}
#grace_init{
    background-color: #0f766e;
    width: 40px;
    text-align: center;
    margin-right: 25px;
    padding-top: 3px;
    border-radius: 7px;
}
#verifiedNew{
    color: gray;
    font-size: 15px;
    font-weight: 400;
}
#future_design22{
    font-size: 40px;
    font-weight: 900;
    padding-top: 30px;
    text-transform: capitalize;
}
#paragraph1{
    padding: 10px;
    font-size: 28px;
    color: gray;
}
#paragraph2{
    color: blue;
    font-size: 20px;
    font-weight: 700;
    background-color: lightgray;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
}
#paragraphs_div{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 8%;
    margin-top: 30px;
}
/* HAMBURGER BEGINS HERE */
.hamburger-menu{
    position: absolute;
    top: 70px;
    right: 20px;
    background: white;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(15, 118, 110, 0.4);
    transition: transform 0.5s ease;
    display: flex;
    z-index: 1000;
    /* transform: translateX(120%); */
    
}
.hamburger-menu{
    width: 60%;
    height: 50vh;
    background-color: #0f766e;
    border-radius: 20px;
}
.hamburger-menu #write_story{
    width: 80%;
    padding: 10px;
    margin: 15px 1px;
    margin: 15px 1px 0px 30px;
}
.hamburger-menu .home_art{
    font-size: 20px;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    margin: 15px 1px 0px 30px;
}

.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    background-size: blur(6px);
    z-index: 900;
}


.close-btn{
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
}
.hamburger-menu.open{
    transform: translateX(0);
}
#close_img{
    width: 25px;
    display: flex;
}






