/* Nest Hub Max */
@media screen and (max-width:1280px) {
    
}
/* Nest Hub */
@media screen and (max-width:1024px) {
    #live_edit{
        width: 150px;
    }
    #start_reading{
        font-size: 16px;
    }
    #become_writer{
        font-size: 17px;
    }
    #words_matter{
        font-size: 65px;
    }
     #black_innerdiv{
    width: 98%;
   }

}
/* Surface Pro 7 */
@media screen and (max-width:912px) {
    #logo{
        width: 20%;
    }
    #write_story{
        width: 50%;
        font-size: 14px;
    }
     #black_innerdiv{
    width: 98%;
   }
     #start_reading{
        width: 39%;
    }
    #become_writer{
        width: 38%;
    }
    #real_time{
        font-size: 20px;
    }
    #sec2_blackdiv{
        width: 57%;
    }
    #sec2_purple{
        width: 40%;
    }
    #end_end{
        br{
            display: none;
        }
    }
   #writername_and_initial{
    width: 50%;
   }
   #inner_card_divs{
    width: 100%;
   }
}
/* For ipad Air */
@media screen and (max-width:820px) {
    #logo{
        width: 20%;
    }
    #div1{
        width: 30%;
    }
    #div2{
        width: 20%;
    }
     #black_innerdiv{
    width: 98%;
   }
    #write_story{
        font-size: 13px;
    }
    #div3{
        width: 40%;
    }
     #start_reading{
        width: 40%;
        font-size: 14px;
    }
    #become_writer{
        width: 41%;
        font-size: 14px;
    }
     #writer_name{
        font-size: 17px;
    }
     #writername_and_initial{
        width: 50%;
    }
    #modern_standard{
    width: 90%;
   }
}
/* For ipad mini */
@media screen and (max-width:768px) {
   #writer_name{
        font-size: 17px;
    }
    #writername_and_initial{
        width: 50%;
    }
     #black_innerdiv{
    width: 98%;
   }
   #modern_standard{
    width: 90%;
   }
}
/* For surface duo */
@media screen and (max-width:540px) {
    .percentage_divs{
        width: 48%;
        margin: 1px;
    }
    #curated_inner{
        width: 80%;
    }
    #delete_icon{
        width: 60%;
    }

    #deFuture{
        line-height: 1.2;
    }
    #navigation{
        justify-content: space-between;
        
    }
    #sec2_art2{
        flex-direction: row;
        flex-wrap: wrap;
    }
   
    .desktop-nav{
        display: none !important;
    }
    #hamburger{
        display: block;
        cursor: pointer;
    }

   #devstrem2{
    margin-left: 4.5rem;
   }
   #logo{
    width: 40%;
    padding: 1px 5px;
   }
   #article1{
    flex-direction: column;
   }
   #first_div{
    width: 100%;
   }
   #second_div{
    width: 100%;
    /* background-color: orange; */
   }
   #second_main{
    flex-direction: column;
   }
   #sec2_blackdiv{
    width: 98%;
   }
   #black_innerdiv{
    width: 98%;
   }
   #sec2_purple{
    width: 98%;
   }
   #footer_inner_div{
    padding: 10px;
   }
   #built_from{
    margin-left: 8px;
   }
   #secure_default{
    padding-top: 10px;
   }
   #paragraph1{
    font-size: 23px;
   }
   #paragraph2{
    font-size: 19px;
   }
   #paragraphs_div{
    padding: 2%;
   }
   #future_design22{
    font-size: 30px;
   }
   #words_matter{
    font-size: 60px;
    padding: 10px 2px;
   }
   #modern_standard{
    padding: 2px 2px;
   }  
   #back2_div{
    width: 90%;
   } 
}
/* For iphone 14 proMax */
@media screen and (max-width:430px) {
    #words_matter{
        font-size: 50px;
        padding: 25px 5px;
    }
    #modern_standard{
        width: 90%;
    }
    #start_reading{
        width: 40%;
        font-size: 10px;
        padding: 10px;
        
    }
    #become_writer{
        width: 35%;
        font-size: 11px;
        margin: 2px;
        padding: 16px;
    }
    #sec2_blackdiv{
    width: 100%;
   }
   #second_main{
    padding: 5px;
    margin-left: 25px;
    width: 98%;
   }
   #delete_andArrow{
    width: 30%;
   }
   #writername_and_initial{
    width: 70%;
   }
   #deFuture{
    font-size: 25px;
   }
}
/* For iphone XR */
@media screen and (max-width:414px) {
    #become_writer{
        width: 40%;
        font-size: 12px;
    }
    #modern_standard{
        width: 100%;
    }
    #div2{
        width: 10%;
    }
}
/* For Samsung Galaxy S20 Ultra */
@media screen and (max-width:412px) {
    
}

@media screen and (max-width:393px) {
    
}
/* For iphone 12 Pro */
@media screen and (max-width:390px) {
    #become_writer{
        font-size: 11px;
        padding: 15px;
    }
    #curated_inner{
        width: 90%;
    }
}
/* For iphone X */
@media screen and (max-width:375px) {
    #devstream{
        font-size: 20px;
    }
     #become_writer{
        width: 43%;
        font-size: 12px;
    }
}
/* For Samsung Galaxy S8+ */
@media screen and (max-width:360px) {
    #become_writer{
        font-size: 11px;
        
    }
}
/* For Galaxy Z fold 5 */
@media screen and (max-width:344px) {
    #become_writer{
        width: 43%;
        font-size: 10px;
    }
    #start_reading{
        width: 42%;
        font-size: 8px;
    }
}
/* For iphone 5/SE */
@media screen and (max-width:320px) {
    
}
@media screen and (max-width:280px) {
    
}

